@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background: #f4f6f9;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
    direction: rtl !important;
  unicode-bidi: plaintext !important;
}

html {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  direction: rtl !important;
  unicode-bidi: plaintext !important;
}

* {
  box-sizing: border-box;
}

 header {
      background: #0a3d62;
      color: rgb(255, 255, 255);
      padding: 1rem;
      text-align: center;
    }

    header .logo1 {
      width: 140px;
      float: right;
    }

    header .logo2 {
      width: 140px;
      float: left;
    }

    
    header h1 {
      margin: 0;
      font-size: 1.8rem;
      word-spacing: 5px;
    }
    header h2 {
      margin: 0.2rem 0 0;
      font-size: 1.6rem;
      font-weight: bold;
       word-spacing: 5px;
    }

    header h3{
      margin: 0.1rem 0 0;
      font-size: 1.1rem;
      font-weight: bold;
       word-spacing: 1px;
    }

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #3c6382;
}

.navbar li {
  list-style-type: none;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin: 7px 10px;
  padding: 5px 20px;
  transition: all 0.3s ease;
}
.navbar a:hover {
  background-color: #00980dbe;
  border-radius: 50px;
}
main {
  max-width: 1500px;
  margin: 0px auto;
  padding: 20px;
}
.sidebar-bar {
  position: fixed;
  top: 0;                   /* يبدأ من أعلى */
  right: 0;                 /* يجي من يمين الشاشة */
  width: 570px;             /* عرضه 300px */
  height: 100vh;            /* يغطي طول الشاشة */
  background-color: rgba(102, 134, 140, 0.173);
  backdrop-filter: blur(29px);
  box-shadow: -2px 0 8px rgba(0,0,0,0.07);
  z-index: 9999;
  padding: 24px 16px;
  overflow-y: auto;
  display: none;            /* يبان بالـ JS أو media query */
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%); /* مخفي خارج الشاشة */
  transition: opacity 0.8s, transform  0.8s;
}

.sidebar-bar.open {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  margin-top: 0%;
}

 nav .fa-solid {
  font-size: 30px;
 }

 nav .fa-bars {
  font-size: 30px;
  position: relative;
  top: 2px;
  right: 2px;
 }

.sidebar-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-bar li {
  margin-bottom: 16px;
  list-style-type: none;
}

.sidebar-bar a {
  display: block;
  width: 100%;
  padding: 10px 14px;
  margin-top: 40px;
    color: #000000;
  text-decoration: none;
  border-radius: 8px;
  background: transparent;
  font-size: 22px;
  font-weight: 600;
}

.sidebar-bar a:hover {
  background: #00980dbe;
  color: #fff;
}

.navbar .fa-bars {
  margin-top: 14px;
  justify-content: right;
}

 main h1 {
      text-align: center;
      font-weight: 700;
      font-size: 30px ;
     }

     iframe {
      border: 0;
      width: 100%;
      height: 600px;
    }
    main {
      padding: 1rem;
    }

     #map-container {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }

    /* The map iframe */
    #student-map {
      border: 0;
      width: 100%;
      height: 600px;
    }

   
   #fullscreen-btn {
   position: absolute;
    top: 4px;
    left: 1057px;
    z-index: 999;
    padding: 19px 14px;
    background: #006400;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
}

 #fullscreen-btn button {
   font-size: 20px;
 }

    :fullscreen #fullscreen-btn {
    left: auto;
    right: 16px;
}

    #fullscreen-btn:hover {
      background: #004d00;
    }
    #fullscreen-btn:hover {
      background: #004d00;
    }

     #logo-overlay img {
      height: 30px;
    }

    :fullscreen #student-map {
      height: 100%;
    }

     footer {
      background: #0a3d62;
      color: rgb(255, 255, 255);
      font-size: medium;
      text-align: center;
      padding: 1px;
      margin-top: 2rem;
    }

    footer p {
      margin: 0px 0;
      word-spacing: 2px;
    }















    @media (max-width: 768px) {
   .hideOnMobile{
  display: none;
}

.showOnMobile{
  display: flex;
}

header {
      background: #0a3d62;
      color: rgb(255, 255, 255);
      padding: 1rem;
      width: 100%;
      text-align: center;
      z-index: 3;
    }

    header .logo1 {
      width: 100px;
      float: right;
    }

    header .logo2 {
      width: 100px;
      float: left;
    }

    
    header h1 {
      margin: 0;
      font-size: 1.4rem;
      word-spacing: 5px;
    }
    header h2 {
      margin: 0.2rem 0 0;
      font-size: 1.2rem;
      font-weight: bold;
       word-spacing: 5px;
    }

    header h3{
      margin: 0.1rem 0 0;
      font-size: 1rem;
      font-weight: bold;
       word-spacing: 1px;
    }

    .navbar {
  display: flex;
  justify-content: none;
  gap: 20px;
  background: #3c6382;
  justify-content: right;
}

.navbar .fa-bars {
  margin-right: 10px;
  justify-content: right;
  margin-top: 0px;
}

.navbar a {
  margin: 0 -25px;
}

.navbar p {
         font-size: 18px;
        font-weight: 700;
        color: #fff;
        margin: 0 auto;
        margin-left: 287px;
        display: block;
}

.navbar a:hover {
    background: transparent !important;
  background-color: transparent !important;
}

.sidebar-bar {
  position: fixed;
  top: 0;                   /* يبدأ من أعلى */
  right: 0;                 /* يجي من يمين الشاشة */
  width: 400px;             /* عرضه 300px */
  height: 100vh;            /* يغطي طول الشاشة */
  background-color: rgba(102, 134, 140, 0.173);
  backdrop-filter: blur(29px);
  box-shadow: -2px 0 8px rgba(0,0,0,0.07);
  z-index: 9999;
  padding: 24px 16px;
  overflow-y: auto;
  display: none;            /* يبان بالـ JS أو media query */
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%); /* مخفي خارج الشاشة */
  transition: opacity 0.8s, transform  0.8s;
}

.sidebar-bar.open {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  margin-top: 0%;
}

 nav .fa-solid {
  font-size: 30px;
 }

 nav .fa-bars {
  font-size: 30px;
  position: relative;
  top: 2px;
  right: 2px;
 }

.sidebar-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-bar li {
  margin-bottom: 16px;
  list-style-type: none;
}

.sidebar-bar a {
  display: block;
  width: 100%;
  padding: 10px 14px;
  margin-top: 40px;
   color: #000000;
  text-decoration: none;
  border-radius: 8px;
  background: transparent;
  font-size: 25px;
  font-weight: 600;
}

.sidebar-bar a:hover {
  background: #00980dbe;
  color: #fff;
}

#fullscreen-btn {
   position: absolute;
    top: 4px;
    left: 592px;
    z-index: 999;
    padding: 19px 14px;
    background: #006400;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
}

footer {
    margin: 0;
    padding: 0px;
    width: 100%;
    background: #0a3d62;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    }

    footer {
      font-size: 10px;
      font-weight: 600;
    }

}















@media (max-width: 528px) {
  
  .hideOnMobile{
  display: none;
}

.showOnMobile{
  display: flex;
}
header {
      background: #0a3d62;
      color: rgb(255, 255, 255);
      padding: 1rem;
      width: 100%;
      text-align: center;
      z-index: 3;
    }

    header .logo1 {
      width: 60px;
      float: right;
    }

    header .logo2 {
      width: 60px;
      float: left;
    }

    
    header h1 {
      margin: 0;
      font-size: 0.6rem;
      word-spacing: 2px;
    }
    header h2 {
      margin: 0.2rem 0 0;
      font-size: .6rem;
      font-weight: bold;
       word-spacing: 2px;
    }

    header h3{
      margin: 0.1rem 0 0;
      font-size: .5rem;
      font-weight: bold;
       word-spacing: 1px;
    }

    .navbar {
  display: flex;
  justify-content: none;
  gap: 20px;
  background: #3c6382;
  justify-content: right;
}

.navbar .fa-bars {
  margin-right: 10px;
  justify-content: right;
  margin-top: 0px;
}

.navbar a {
  margin: 0 -25px;
}

.navbar p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  margin-left: 77px;
    display: block;
}

.navbar a:hover {
    background: transparent !important;
  background-color: transparent !important;
}

.sidebar-bar {
  position: fixed;
  top: 0;                   /* يبدأ من أعلى */
  right: 0;                 /* يجي من يمين الشاشة */
  width: 270px;             /* عرضه 300px */
  height: 100vh;            /* يغطي طول الشاشة */
  background-color: rgba(102, 134, 140, 0.173);
  backdrop-filter: blur(29px);
  box-shadow: -2px 0 8px rgba(0,0,0,0.07);
  z-index: 9999;
  padding: 24px 16px;
  overflow-y: auto;
  display: none;            /* يبان بالـ JS أو media query */
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%); /* مخفي خارج الشاشة */
  transition: opacity 0.8s, transform  0.8s;
}

.sidebar-bar.open {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  margin-top: 0%;
}

 nav .fa-solid {
  font-size: 30px;
 }

 nav .fa-bars {
  font-size: 30px;
  position: relative;
  top: 2px;
  right: 2px;
 }

.sidebar-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-bar li {
  margin-bottom: 16px;
  list-style-type: none;
}

.sidebar-bar a {
  display: block;
  width: 100%;
  padding: 10px 14px;
  margin-top: 30px;
    color: #000000;
  text-decoration: none;
  border-radius: 8px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
}

.sidebar-bar a:hover {
  background: #00980dbe;
  color: #fff;
}

#fullscreen-btn {
  position: absolute;
        top: 3px;
        left: 240px;
        z-index: 999;
        padding: 20px 0px;
        background: #006400;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 151px;
}

footer {
    margin: 0;
    padding: 0px;
    width: 100%;
    background: #0a3d62;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    }

    footer p {
      font-size: 9px;
      font-weight: 500;
    }

}
















